<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/allReports.css">
<%- include("./partials/header.ejs") %>
<h2><%= title  %></h2>
<main>
    <% if(reports.length>0){ %>
    <%reports.forEach(report => {%>
        <section class="report">
            <h3><%= report.title  %></h3>
            <div><%= report.description %></div>
            <p>Status: <%= report.status  %></p>
        </section>
    <%});  %>
    <% }else { %>
        <section id="noReport">
        <h3>Ikke Noen Avgikk enda!!</h3>
        </section>
        <% } %>
</main>

</body>
</html>