<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/publish.css">
<script src="/script/fetch_post_report.js" defer></script>
<%- include("./partials/header.ejs") %>
<main>
    <h2><%= title %></h2>
    <form>
        <div>
            <label for="title">Tittel:</label>
            <input type="text" name="title" id="title" placeholder="Skriv inn tittel..">
            <p class="error title"></p>
        </div>
            <label for="description">Skriv avviket:</label>
            <textarea name="description" id="description" placeholder="Skriv inn avviket som skjedde.."></textarea>
            <p class="error description"></p>
            <div id="categorySelect">
                <h3>Kategori</h3>
                <select name="category" id="category">
                    <option value="">Ikke Valgt</option>
                    <% categories.forEach(category=>{%>
                        <option value="<%=category.name  %>"><%=category.name  %></option>
                  <%  }) %>
                </select>
            </div>
            <p class="error category"></p>
            
        <button>Send Avvik</button>
    </form>
</main>



</body>
</html>